Source: ros-indigo-osm-cartography
Section: misc
Priority: extra
Maintainer: Jack O'Quin <jack.oquin@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-dynamic-reconfigure, ros-indigo-geodesy, ros-indigo-geographic-msgs, ros-indigo-geometry-msgs, ros-indigo-roslaunch, ros-indigo-rospy, ros-indigo-std-msgs, ros-indigo-tf, ros-indigo-visualization-msgs
Homepage: http://ros.org/wiki/osm_cartography
Standards-Version: 3.9.2

Package: ros-indigo-osm-cartography
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-dynamic-reconfigure, ros-indigo-geodesy, ros-indigo-geographic-msgs, ros-indigo-geometry-msgs, ros-indigo-rospy, ros-indigo-std-msgs, ros-indigo-tf, ros-indigo-visualization-msgs
Description: Geographic mapping using Open Street Map data.
